/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 97px;
    margin-top: 5px;
    margin-left: 5px;
}

/* ngView Animate  */
.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.7s fade-in;
    -moz-animation: 0.7s fade-in;
    -o-animation: 0.7s fade-in;
    animation: 0.7s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.3s fade-out;
    -moz-animation: 0.3s fade-out;
    -o-animation: 0.3s fade-out;
    animation: 0.3s fade-out;
    z-index:99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* globalz ng-show ng-hide fadez */
.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}






