<div class="row well">
    <div ng-hide="isSearch()" class="fadein fadeout">
        <h1>{{ pageTitle }} <small>{{ pageSubTitle }}</small></h1>
        <br />
        <p class="lead">
            Enter a session ID which has been used in accessing the API to view your requests.
        </p>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <input type="text" name="sessionSearch" id="sessionSearch" class="form-control" placeholder="session id..." ng-model="searchText" />
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" ng-click="searchClick()">Search</button>
        </div>
    </div>
</div>

<div class="row" ng-show="sessions.length > 0">
    <div class="row">

        <div class="col-md-8  col-md-offset-2">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><strong># Requests</strong></div>
                        <div class="panel-body text-center">
                            {{ totalSessions() }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 ">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><strong>Session Id</strong></div>
                        <div class="panel-body text-center">
                            {{ currentSession }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><strong># Errors</strong></div>
                        <div class="panel-body text-center">
                            {{ totalErrors() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a class="btn btn-info" href="#/validate/{{ currentSession }}">Validate Session</a>
    </div>
    <br />
    <div class="panel-group" id="accordian">
        <div ng-repeat="session in sessions">
            <div class="panel panel-info">
                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-target="#panel_{{ session.Id }}">
                    <strong>
                        <span ng-class="getLabel(session.ApiResponse.IsSuccessStatusCode)">
                            <span ng-class="getIcon(session.ApiResponse.IsSuccessStatusCode)"></span>
                            &nbsp;
                            {{ session.ApiRequest.HttpMethod }}
                        </span>
                        &nbsp;
                        {{ urlPath(session.ApiResponse.UriAccessed) }}
                    </strong>
                    <span class="pull-right">{{ formatDate(session.LogDate) }}</span>

                </div>
                <div id="panel_{{ session.Id }}" class="panel-collapse collapse">
                    <div class="panel-body">

                        <!-- req/ res: This should be ain a template or partial? -->
                        <div class="panel panel-default">
                            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-target="#request_{{ session.Id }}">
                                <strong>REQUEST</strong>
                            </div>
                            <div id="request_{{ session.Id }}" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <p>
                                        <strong class="text-info">
                                            Uri Accessed
                                        </strong><br />
                                        {{ session.ApiRequest.UriAccessed }}

                                    </p>
                                    <p>
                                        <strong class="text-info">
                                            Headers
                                        </strong>
                                        <br />

                                        <ul>
                                            <li ng-repeat="header in session.ApiRequest.Headers">
                                                <strong>{{ header.Key }}:</strong> {{ header.Value }}
                                            </li>
                                        </ul>
                                    </p>
                                    <p>
                                        <strong class="text-info">
                                            Body
                                        </strong>
                                        <br />
                                        <pre class="pre-scrollable">{{ session.ApiRequest.BodyContent }}</pre>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- / req/ res -->
                        <div class="panel panel-default">
                            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-target="#response_{{ session.Id }}">
                                <strong>RESPONSE</strong>
                            </div>
                            <div id="response_{{ session.Id }}" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <p>
                                        <strong class="text-info">
                                            Uri Accessed
                                        </strong><br />
                                        {{ session.ApiResponse.UriAccessed }}

                                    </p>
                                    <p>
                                        <strong class="text-info">
                                            Headers
                                        </strong>
                                        <br />

                                        <ul>
                                            <li ng-repeat="header in session.ApiResponse.Headers">
                                                <strong>{{ header.Key }}:</strong> {{ header.Value }}
                                            </li>
                                        </ul>
                                    </p>
                                    <p>
                                        <strong class="text-info">
                                            Body
                                        </strong>
                                        <br />
                                        <pre class="pre-scrollable">{{ session.ApiResponse.BodyContent }}</pre>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>